@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Quicksand Variable", sans-serif;
}
.customTextShadow {
  font-weight: 900;
  text-shadow: 3px 3px 0px #9a8cc3;
}

.LeftAnimate > * {
  animation: move 5s linear infinite;
}
@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.imgContainer {
  background-size: cover;
}
